@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$light-red: #ED8A8A;

body {
  background-color: $main-bg-color;
  color: $accent-black;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

button {
  background-color: #CCC;
  border: none;
  height: 30px;
  width: 140px;
  margin-left: 1em;
  margin-right: 1em;

  &:hover {
    background-color: $accent-gray;
  }
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.collection-container {
  text-align: center;
}

.counter-num-label {
  color: $accent-orange;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.collection-delete-button {
  background: $accent-red;
  height: 20px;
  width: 20px;
  &:hover {
    background: $light-red;
  }
}

.collection-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
